﻿@page
@model IndexModel
@inject FileReader Reader
@{
    ViewData["Title"] = "Automorphic Numbers";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Automorphic numbers are a sequence of numbers <em>n</em> which end with sqrt(<em>n</em>). </p>
    <p> This page represents one idiot's attempt to find as many as possible using a single thread on a modest hardware platform. It is written in (more or less) modern .NET (currently .NET 8, soon .NET 9). When the page is accessed, it will tell you which number was being processed at the time of access.</p>
    <p>It is running on a modest system:</p>
    <ul style="text-align: left; margin: auto; max-width: fit-content">
        <li>AMD Ryzen 5 2600, Six-core @@3.850GHz</li>
        <li>64GB DDR4 @@3333MHz</li>
    </ul>
    <br>
    <p>You can see below the date and time that <em>1</em> was calculated, which is when the server was started.</p>
    <hr>
    <p>Currently on @Reader.CurrentNumber</p>
    <ul style="text-align: left; list-style-type: none">
        @foreach (var line in Reader.Findings.Select(s => s.Split(',')))
        {
             <li>@(DateTimeOffset.FromUnixTimeMilliseconds(long.Parse(line[2])).UtcDateTime) UTC  | @line[0] -> @line[1]</li>
        }
    </ul>
</div>
